section {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #121212;
    height: 100vh;
    top: 80px;
    flex-direction: column;
}

#two {
    background-color: #f0f0f0;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: #782F40;
    -webkit-border-radius: 15px;
}
